chat_with_pdf.json
{
  "name": "Draft",
  "nodes": [
    {
      "parameters": {},
      "id": "3b154eab-8752-43f6-afc2-bfa3b9930dd5",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        920,
        660
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": "={{ $json.text }}"
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1,
      "position": [
        2140,
        660
      ],
      "id": "acdb388b-3362-4d71-8c29-4397ec828f71",
      "name": "In-Memory Vector Store (insert)1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "modelName": "models/embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        2020,
        920
      ],
      "id": "7a86b193-b926-4bbd-8a33-41b2ef41dda6",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "aIAzleydIwItaYOV",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "chunkSize": 2048,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        2280,
        1080
      ],
      "id": "bb109ce1-73cb-4ce1-a3c6-85da28006dbb",
      "name": "Recursive Character Text Splitter1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        2300,
        900
      ],
      "id": "dc5f53f9-c8b3-4410-8272-2dc7fd969e0c",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {},
      "id": "6d232077-d4ba-4305-b5d6-ea6330bf61b8",
      "name": "When clicking 'Chat' button below",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        1000,
        1440
      ],
      "webhookId": "e259b6fe-b2a9-4dbc-98a4-9a160e7ac10c",
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "fda776fa-381b-4fc0-965d-111e73caa1b1",
      "name": "Extract text from PDF",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        1800,
        660
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Extract text from PDF\nNode extracts readable text form PDF.",
        "height": 302.41975308642,
        "width": 217.87654320987633
      },
      "id": "a7dd56cd-e32a-44ef-8827-d97cd8ec0d98",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1720,
        540
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "https://drive.google.com/file/d/1hPa-92fzqO-UIAruswRy1DxKXYdBO2I4/view",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1360,
        660
      ],
      "id": "fec84a31-f6e8-4897-b9c3-dc1dce28709f",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "50Tw8tWCXaCNNoEX",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "n8n data",
        "returnAll": true,
        "filter": {
          "whatToSearch": "all"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1160,
        660
      ],
      "id": "bafe6f14-60fc-4e43-a8e9-4f8849f457ba",
      "name": "Google Drive1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "50Tw8tWCXaCNNoEX",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1580,
        660
      ],
      "id": "a6cd2616-07b8-4614-b013-eeb6b438d3fa",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1340,
        1720
      ],
      "id": "28c7214d-b4b5-4579-911e-05c424b772d4",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "aIAzleydIwItaYOV",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Assistant is a large language model trained by OpenAI, designed to assist with a wide range of tasks using only the information provided. It can answer questions, generate explanations, and engage in discussions strictly based on the given data.\n\nAssistant does not access external sources or generate responses beyond the provided information. Instead, it processes and understands the given text to deliver coherent and relevant answers. It can analyze, summarize, and structure information efficiently while maintaining accuracy.\n\nAssistant continuously improves its ability to process and generate text within the given constraints, ensuring reliable and context-aware responses. Whether answering specific queries or supporting discussions, Assistant operates strictly within the provided data to offer valuable insights."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1600,
        1420
      ],
      "id": "e5e0e2d7-7796-4c1d-b6fe-2586d509622f",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        1880,
        2060
      ],
      "id": "f9bbdd01-2b97-47f6-8cea-48335ce46cdc",
      "name": "Embeddings HuggingFace Inference",
      "credentials": {
        "huggingFaceApi": {
          "id": "SZCRDEK7mzDPFx2f",
          "name": "HuggingFaceApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1660,
        1740
      ],
      "id": "4cca3d77-ce2c-46d0-a6f8-720836467255",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "MR0DXJXUmG1Gqalg",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "name": "=candidate_resume_tool",
        "description": "Retrieve information from any candidate resume",
        "topK": 10
      },
      "id": "c07b59f7-147e-4230-a0ae-649b7ae188c1",
      "name": "Vector Store Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "position": [
        1980,
        1660
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "memoryKey": "{{ $json.pageContent}}"
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1,
      "position": [
        1840,
        1900
      ],
      "id": "f4cc426d-a397-494c-b47e-dc4f8bfca1fc",
      "name": "In-Memory Vector Store1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmOpenHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        2220,
        1900
      ],
      "id": "d674ae9f-f758-4255-bccd-f2f3ee18e9e7",
      "name": "Hugging Face Inference Model",
      "credentials": {
        "huggingFaceApi": {
          "id": "SZCRDEK7mzDPFx2f",
          "name": "HuggingFaceApi account"
        }
      }
    },
    {
      "parameters": {
        "content": "### Download and read pdf\n",
        "height": 762,
        "width": 2498,
        "color": 7
      },
      "id": "f00bac3c-1599-4264-8a43-f7b0347c02e4",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        500,
        460
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Chat with pdf\n",
        "height": 882,
        "width": 2498,
        "color": 7
      },
      "id": "3e99a125-ad46-4fbc-b32c-fc6ff4fe57b1",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        500,
        1340
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "In-Memory Vector Store (insert)1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "In-Memory Vector Store (insert)1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "In-Memory Vector Store (insert)1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking 'Chat' button below": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract text from PDF": {
      "main": [
        [
          {
            "node": "In-Memory Vector Store (insert)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Extract text from PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        []
      ]
    },
    "Embeddings HuggingFace Inference": {
      "ai_embedding": [
        [
          {
            "node": "In-Memory Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "In-Memory Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Hugging Face Inference Model": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "77dceb79-ee53-434f-a132-3946df3045a2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "169b07da7d17fc7aa715386e7d6ad2b6db25c316a441f22a9ee2fcc54dc5ff68"
  },
  "id": "AuAYRXN4368042pr",
  "tags": []
}