core_flow.json
{
  "name": "draft2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -740,
        120
      ],
      "id": "83307b7a-56f4-461d-b843-6b7cbfd2bd7e",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "68eebff6-19ab-45da-be59-a4f5343c61e1",
      "name": "Extract text from PDF",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        80,
        120
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Extract text from PDF\nNode extracts readable text form PDF.",
        "height": 302.41975308642,
        "width": 217.87654320987633
      },
      "id": "47591f5f-a051-43c0-a2fe-bc30980c3d54",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "https://drive.google.com/file/d/1hPa-92fzqO-UIAruswRy1DxKXYdBO2I4/view",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -360,
        120
      ],
      "id": "29d1e190-2309-4991-bfcd-b8b81c067b93",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "50Tw8tWCXaCNNoEX",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "n8n data",
        "returnAll": true,
        "filter": {
          "whatToSearch": "all"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -560,
        120
      ],
      "id": "e6173927-9b55-4d7b-9779-7a0f1e5a19d3",
      "name": "Google Drive1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "50Tw8tWCXaCNNoEX",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -140,
        120
      ],
      "id": "f90e07b4-5581-49a8-a13b-e11b730df404",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        440,
        380
      ],
      "id": "43dee157-df06-41b1-a17f-1bd3f61c2a7b",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "aIAzleydIwItaYOV",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "Extract Nguyen Thanh Trung's skills",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Assistant is a large language model trained by OpenAI.\n\nAssistant is designed to be able to assist with a wide range of tasks, from answering simple questions to providing in-depth explanations and discussions on a wide range of topics. As a language model, Assistant is able to generate human-like text based on the input it receives, allowing it to engage in natural-sounding conversations and provide responses that are coherent and relevant to the topic at hand.\n\nAssistant is constantly learning and improving, and its capabilities are constantly evolving. It is able to process and understand large amounts of text, and can use this knowledge to provide accurate and informative responses to a wide range of questions. Additionally, Assistant is able to generate its own text based on the input it receives, allowing it to engage in discussions and provide explanations and descriptions on a wide range of topics.\n\nOverall, Assistant is a powerful system that can help with a wide range of tasks and provide valuable insights and information on a wide range of topics. Whether you need help with a specific question or just want to have a conversation about a particular topic, Assistant is here to assist. Extract the data from  {{ $json.text }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        540,
        120
      ],
      "id": "d90ccc4d-7ad3-4c1c-9272-787eda23443a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Loop Over Items').item.json.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        560,
        360
      ],
      "id": "f1464e42-252d-43cf-9244-c62527925cf2",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "MR0DXJXUmG1Gqalg",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract text from PDF": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Extract text from PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d5218fc7-6aa0-44c1-ba4c-344a7e9e0856",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "169b07da7d17fc7aa715386e7d6ad2b6db25c316a441f22a9ee2fcc54dc5ff68"
  },
  "id": "g8mSWcs0JIiYIepY",
  "tags": []
}